  <head>
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <style type="text/css">
      body {
        margin: 0;
      }
    </style>
  </head>
  <video
    id="video-player"
    class="video-js"
    playsinline
    autoplay
    muted>
  </video>
  <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
  <script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const urlId = urlParams.get("id");
    let params  = new URLSearchParams(window.location.search);
    let hlsUrl = params.get('url');
    var player = videojs(document.getElementById("video-player"), {controls: true, liveui: true, fill: true});
    player.ready(() => {
      player.src(hlsUrl);
      player.play()
    })
  </script>
